accelerate
controlnet_aux
diffusers
fastapi
mediapipe
opencv-contrib-python
pdf2image
Pillow
pytesseract
torch
torchvision
torchaudio
transformers
uvicorn
xformers @ git+https://github.com/jinmingyi1998/xformers@3e0f86d8be909a63055e117c82310252c350ce50
